<!DOCTYPE HTML>
<html>
  <head>
    <title>.Care</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
   <script src="../../uxControllers/loginController.js"></script>
  </head>
  <body>

      <div id="page-wrapper">

      <!-- Header -->
        <div id="header-wrapper">
          <header id="header" class="container">

            <!-- Logo -->
              <div id="logo">
                <h1><a href="index.html">.Care</a></h1>
                <span>hackforhealthcare</span>
              </div>

      <!-- Main -->
        <div id="banner-wrapper">
          <div id="banner" class="box container">
            <div class="row">
              <form>   
                <div>
                  <div class="row">
                    <div class="6u 12u$(mobile)">
                      <p>Username</p><input type="text" name="login-username" ng-model="" />
                    </div>
                    <div class="6u 12u$(mobile)">
                      <p>Password</p><input type="password" name="login-password" ng-model=""/>
                    </div>

                    <div class="12u$">
                        <button value="Login" ng-click="login()"/>Login</button>
                      </div>
                    </div>
                  </div>
                </div>  
              </form>
            </div>
          </div>
        </div>

      <!-- Footer -->
        <div id="footer-wrapper">
          <footer id="footer" class="container">
              <div class="12u">
                <div id="copyright">
                  <ul class="menu">
                    <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
        </div>

      </div>

    <!-- Scripts -->

      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

  </body>
</html>