<!DOCTYPE HTML>
<html>
  <head>
    <title>TamponsRus</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>

      <div id="page-wrapper">

      <!-- Header -->
        <div id="header-wrapper">
          <header id="header" class="container">

            <!-- Logo -->
              <div id="logo">
                <h1><a href="index.html">TamponsRus</a></h1>
                <span>hackforhealthcare</span>
              </div>

      <!-- Main -->
        <div id="banner-wrapper">
          <div id="banner" class="box container">
            <div class="row">
              <article id="contact" class="panel">
                <header>
                  <h2>Enter Your Information</h2>
                </header>
                <form action="#" method="post">
                  <div>
                    <div class="row">
                      <div class="6u 12u$(mobile)">
                        <select name="user-type" placeholder="User Type" />
                          <option selected="selected">Select User Type</option>
                          <option value="distributor">Distributor</option>
                          <option value="collector">Supplier</option>
                        </select>
                      </div>
                      <div class="6u 12u$(mobile)">
                        <input type="text" name="org" placeholder="Organization" />
                      </div>
                      <div class="6u 12u$(mobile)">
                        <input type="text" name="first-name" placeholder="Contact First Name" />
                      </div>
                      <div class="6u 12u$(mobile)">
                        <input type="text" name="last-name" placeholder="Contact Last Name" />
                      </div>
                      <div class="6u 12u$(mobile)">
                        <input type="text" name="phone" placeholder="Phone Number" />
                      </div>
                      <div class="6u$ 12u$(mobile)">
                        <input type="text" name="email" placeholder="Email" />
                      </div>
                      <div class="6u$ 12u$(mobile)">
                        <input type="text" name="address" placeholder="Address" />
                      </div>
                      <div class="6u 12u$(mobile)">
                        <input type="text" name="city" placeholder="City" />
                      </div>
                      <div class="6u 12u$(mobile)">
                        <input type="text" name="state" placeholder="State" />
                      </div>
                      <div class="6u$ 12u$(mobile)">
                        <input type="text" name="zip" placeholder="Zip" />
                      </div>

                      <header>
                        <h2>Enter Account Information</h2>
                      </header>
                      <div class="6u 12u$(mobile)">
                        <input type="text" name="first-name" placeholder="Set username" />
                      </div>
                      <div class="6u 12u$(mobile)">
                        <input type="text" name="first-name" placeholder="Password" />
                      </div>
                      <div class="12u$">
                        <input type="submit" value="Register" />
                      </div>
                    </div>
                  </div>
                </form>
              </article>
            </div>
          </div>
        </div>

      <!-- Footer -->
        <div id="footer-wrapper">
          <footer id="footer" class="container">
              <div class="12u">
                <div id="copyright">
                  <ul class="menu">
                    <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
        </div>

      </div>

    <!-- Scripts -->

      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

  </body>
</html>