<!DOCTYPE HTML>
<html>
  <head>
    <title>TamponsRus</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="../../uxControllers/submitRequestController.js"></script>
  </head>
  <body ng-app="submitApp">

      <div id="page-wrapper" ng-controller="submitController">

      <!-- Header -->
        <div id="header-wrapper">
          <header id="header" class="container">

            <!-- Logo -->
              <div id="logo">
                <h1><a href="index.html">TamponsRus</a></h1>
                <span>hackforhealthcare</span>
              </div>

      <!-- Main -->
        <div id="banner-wrapper">
          <div id="banner" class="box container">
            <div class="row">
              <header>
                <article id="contact" class="panel">
                <header>
                  <h2>Enter numbers for each item</h2>
                </header>
                <form action="#" method="post">
                  <div>
                    <div class="row">
                      <div class="6u 12u$(mobile)">
                        <p>Tampons</p><input type="text" name="tampon" class="request-input" />
                      </div>
                      <div class="6u 12u$(mobile)">
                        <p>Pads</p><input type="text" name="pad" />
                      </div>
                      <div class="6u 12u$(mobile)">
                        <p>Cups</p><input type="text" name="cup" />
                      </div>


                      <h2>Set Request Urgency</h2>

                      <div class="6u 12u$(mobile)">
                        <select name="user-type"  />
                          <option selected="selected">Anytime</option>
                          <option value="distributor">1-2 weeks</option>
                          <option value="collector">Immediately</option>
                        </select>
                      </div>

                      <div class="12u$">
                        <input type="submit" value="Submit" />
                      </div>
                    </div>
                  </div>
                </form>
              </article>
              </header>  
            </div>
          </div>
        </div>

        <div id="banner-wrapper">
          <div id="banner" class="box container custom">

              <div class="5u 12u(medium)">
                <ul>
                  <li><a href="registration.html" class="button big icon">Submit Request</a></li>
                  <li><a href="login.html" class="button big icon">Current Requests</a></li>
                  <li><a href="login.html" class="button big icon">Change Account Information</a></li>
                </ul>
              </div>

          </div>
        </div>

      <!-- Footer -->
        <div id="footer-wrapper">
          <footer id="footer" class="container">
              <div class="12u">
                <div id="copyright">
                  <ul class="menu">
                    <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
        </div>

      </div>

    <!-- Scripts -->

      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

  </body>
</html>